<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="WE Travel - Trip Planner" />

    <title>WE Travel</title>

    <link rel="icon" href="../media/icon.ico" />
    <link rel="shortcut icon" href="../media/icon.ico" />

    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.13.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.13.0/mapbox-gl.js"></script>
  </head>

  <body>
    <div class="mps-wrap-flex">
      <header class="header">
        <div class="nav-flex">
          <div class="nav-brand">
            <a class="nav-brand-link" href="#">
              <!-- Motorcycle by leo-graph.com from the Noun Project -->
              <img
                src="../media/wemoto.svg"
                alt="We Travel brand logo"
                class="nav-brand"
            /></a>
          </div>
          <div class="nav-mobile-button">
            <span></span> <span></span> <span></span> <span></span>
          </div>
          <nav role="navigation" class="nav-menu-flex">
            <div class="nav-menu-wrap">
              <div role="list" class="nav-menu-list-flex">
                <div role="listitem" class="nav-menu-item">
                  <a href="#" class="nav-link mps-link">WE Travel</a>
                </div>
                <div role="listitem" class="nav-menu-item">
                  <a href="#" class="nav-link mps-link">Trips</a>
                </div>
              </div>
            </div>
          </nav>
          <div class="nav-menu-wrap nav-right">
            <div role="list" class="nav-menu-list-flex">
              <div role="listitem" class="nav-menu-item">
                <a href="#" class="mps-btn mps-btn-primary">Login</a>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="cover"></div>

      <main>
        <h1>Travel Planner</h1>

        <section>
          <div id="app">
            <div id="photo" class="photo"></div>
            <div class="holder we-flex">
              <div id="entryHolder">
                <div id="tripinfo"></div>
                <div id="content"></div>
                <div id="error"></div>
              </div>
              <div class="mapholder">
                <div id="map" class="map"></div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="holder city">
            <label for="city">City Name</label>
            <input type="text" id="city" placeholder="enter city name here" />

            <label for="start">Start Date</label>
            <input
              type="date"
              id="start"
              placeholder="enter date here"
              required
              pattern="\d{4}-\d{2}-\d{2}"
            />
          </div>
          <button class="we-btn we-btn-lg" id="generate" type="submit">
            Generate
          </button>
        </section>
      </main>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner-flex">
          <div class="footer-inner-flex-2">© WE 2021</div>
          <div class="footer-links">
            <a href="#" class="footer-link mps-link">Terms</a>
            <a href="#" class="footer-link mps-link">Privacy</a>
          </div>
        </div>
      </div>
    </footer>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
