<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="WE Travel - Trip Planner" />

    <title>WE Travel</title>

    <link
      rel="icon"
      href="https://mps-ph.s3.us-east-2.amazonaws.com/we/media/icon.ico"
    />
    <link
      rel="shortcut icon"
      href="https://mps-ph.s3.us-east-2.amazonaws.com/we/media/icon.ico"
    />

    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.13.0/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="we-wrap-flex">
      <header class="header">
        <div class="nav-flex">
          <div class="nav-brand">
            <a class="nav-brand-link" href="#">
              <!-- Motorcycle by leo-graph.com from the Noun Project -->
              <img
                src="https://mps-ph.s3.us-east-2.amazonaws.com/we/media/wemoto_white.svg"
                alt="We Travel brand logo"
                class="nav-brand"
            /></a>
          </div>

          <nav id="navbar-collapse" role="navigation" class="nav-menu-flex">
            <div id="navbar-collapse-wrap" class="nav-menu-wrap">
              <div
                role="list"
                class="nav-menu-list-flex collapse navbar-collapse"
              >
                <div role="listitem" class="nav-menu-item">
                  <a href="#" class="nav-link we-link">WE Travel</a>
                </div>
                <div role="listitem" class="nav-menu-item">
                  <a href="./trips.html" class="nav-link we-link">Trips</a>
                </div>
                <div role="listitem" class="nav-menu-item">
                  <a href="design_system.html" class="nav-link we-link"
                    >Design</a
                  >
                </div>
              </div>
            </div>
          </nav>
          <button
            class="nav-mobile-button navbar-toggler"
            type="button"
            id="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-controls="navbar-collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span></span> <span></span> <span></span> <span></span>
          </button>
          <div class="nav-menu-wrap nav-right">
            <div role="list" class="nav-menu-list-flex">
              <div role="listitem" class="nav-menu-item">
                <a href="#" class="nav-link we-link">Login</a>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- <div class="cover"></div> -->

      <main class="we-flex">
        <a class="top" href="#top" aria-label="Top of the page">
          <button id="top-btn">˄</button>
        </a>

        <h1>Travel Planner</h1>

        <section class="section">
          <div id="last-trip"></div>
          <input
            type="hidden"
            id="parent-id"
            name="parent-id"
            value="last-trip"
          />
          <div class="color-neutral-100 color-error-bk" id="error"></div>
        </section>
        <section class="section first">
          <div class="container">
            <div class="we-wide">
              <img
                src="https://mps-ph.s3.us-east-2.amazonaws.com/we/media/eleonore-kemmel-Q8JuPozm4s0-unsplash.jpg"
                loading="lazy"
                alt=""
                class="we-wide-bg"
              />
              <form
                id="main-form"
                name="main-form"
                data-name="Main Form"
                class="we-form-info-flex"
              >
                <div>
                  <input
                    type="text"
                    class="we-wide-input"
                    maxlength="256"
                    name="city"
                    data-name="City"
                    placeholder="Enter city name"
                    id="city"
                    required="true"
                  />
                </div>
                <div class="we-flex-rows">
                  <div>
                    <label for="start" class="we-wide-label helper-text"
                      >Start date</label
                    >
                    <input
                      type="date"
                      class="we-wide-input we-wide-date"
                      maxlength="256"
                      name="start"
                      data-name="start"
                      placeholder="Departing (optional)"
                      id="start"
                    />
                  </div>

                  <div>
                    <label for="end" class="we-wide-label helper-text"
                      >End date</label
                    >
                    <input
                      type="date"
                      class="we-wide-input we-wide-date"
                      maxlength="256"
                      name="end"
                      data-name="end"
                      placeholder="Return (optional)"
                      id="end"
                    />
                  </div>
                </div>
                <span class="color-neutral-400">(optional)</span>
                <br />
                <br />
                <br />
                <button
                  type="submit"
                  data-wait="Please wait..."
                  class="we-wide-submit we-btn we-btn-primary"
                  id="generate"
                >
                  Generate
                </button>
              </form>
            </div>
          </div>
        </section>
      </main>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner-flex">
          <div class="footer-inner-flex-2">
            © WE Travel 2021
            <a href="#" class="footer-link we-link">Terms</a>
            <a href="#" class="footer-link we-link">Privacy</a>
            <a href="design_system.html" class="footer-link we-link">Design</a>
          </div>
          <div class="we-social-grid">
            <a
              href="https://www.github.com/WETravel"
              target="_blank"
              rel="noreferrer noopener"
              class="we-social"
            >
              <img
                src="https://mps-ph.s3.us-east-2.amazonaws.com/we/media/github.svg"
                alt="GitHub"
              />
            </a>

            <a
              href="https://www.facebook.com/WETravel"
              target="_blank"
              rel="noreferrer noopener"
              class="we-social"
              aria-label="facebook page ex 1"
            >
              <img
                src="https://mps-ph.s3.us-east-2.amazonaws.com/we/media/facebook.svg"
                alt="Facebook"
              />
            </a>

            <a
              href="https://twitter.com/WETravel"
              target="_blank"
              rel="noreferrer noopener"
              class="we-social"
              aria-label="twitter page ex 1"
            >
              <img
                src="https://mps-ph.s3.us-east-2.amazonaws.com/we/media/twitter.svg"
                alt="Twitter"
              />
            </a>

            <a
              href="https://www.linkedin.hcom/WETravel"
              target="_blank"
              rel="noreferrer noopener"
              class="we-social"
              aria-label="linkedin page ex 1"
            >
              <img
                src="https://mps-ph.s3.us-east-2.amazonaws.com/we/media/linkedin.svg"
                alt="Linkedin"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
