/**
 * Buttons
 */

.we-btn {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
  line-height: inherit;
  font-size: inherit;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  letter-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  padding: 6px 1.5rem;
  border: 2px solid transparent;
  border-radius: 999px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 300;
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  width: auto;
}

/* Main buttons */

/* Primary button */

.we-btn-primary {
  color: $font-color-inverted;
  background: $color-primary;

  /* Hover */

  &:hover {
    text-decoration: none;
    background: $color-primary-hover;
    outline: 0;
  }

  /* Disabled */

  .disabled,
  &:disabled {
    color: $color-neutral-400;
    background-color: $color-neutral-300;
    border-color: transparent;
    opacity: 1;
  }
}

/* Secondary button */

.we-btn-secondary {
  color: $color-primary;
  background-color: transparent;
  background-image: none;
  border: 1px solid $color-primary;

  &:hover {
    color: $font-color-inverted;
    background: $color-primary;
    border: none;
  }
}

/* Tertiary buttons */

/* Success */

.we-btn-success {
  color: $font-color-inverted;
  background: $color-success;

  &:hover {
    text-decoration: none;
    background: $color-success-hover;
    outline: 0;
  }
}

.we-btn-success-sec {
  color: $color-success;
  background-color: transparent;
  background-image: none;
  border: 1px solid $color-success;

  &:hover {
    color: $font-color-inverted;
    background: $color-success;
    border: none;
  }
}

/* Warning */

.we-btn-warning {
  color: $font-color-inverted;
  background: $color-warning;

  &:hover {
    text-decoration: none;
    background: $color-warning-hover;
    outline: 0;
  }
}

.we-btn-warning-sec {
  color: $color-warning;
  background-color: transparent;
  background-image: none;
  border: 1px solid $color-warning;

  &:hover {
    color: $font-color-inverted;
    background: $color-warning;
    border: none;
  }
}

/* Error */

.we-btn-error {
  color: $font-color-inverted;
  background: $color-error;

  &:hover {
    text-decoration: none;
    background: $color-error-hover;
    outline: 0;
  }
}

.we-btn-error-sec {
  color: $color-error;
  background-color: transparent;
  background-image: none;
  border: 1px solid $color-error;

  &:hover {
    color: $font-color-inverted;
    background: $color-error;
    border: none;
  }
}

/* Button Size */

.we-btn-sm {
  height: 32px;
  padding: 0 1rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 32px;
  text-transform: none;
}

.we-btn-lg {
  height: 60px;
  padding: 0 1.5rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 60px;
}
