/**
 * Form
 */

.we-wide {
  position: relative;
  padding: 1rem 0;
  background-color: $color-neutral-500;
  text-align: center;
}

.we-wide-form {
  position: relative;
}

.we-wide-label {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 1.7rem;
}

.we-wide-input {
  padding: 0.5rem 1.5rem;
  font-size: 0.9375rem;
  margin-bottom: 0.5rem;
}

.we-wide-date {
  background-image: url(https://mps-ph.s3.us-east-2.amazonaws.com/we/media/calendar.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  padding: 0.5rem 1rem 0.5rem 5.5rem;

  svg {
    transition: color 0.2s ease-in-out;
  }
}

input[type='date'] {
  color: transparent;
}

.we-wide-submit {
  text-align: right;
}

.we-form-info-flex {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.we-wide-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: $desktop) {
  /* Small and medium devices */
  .we-wide {
    margin-right: -2rem;
    margin-left: -2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: $tablet) {
  /* Extra small devices and small devices */
  .we-wide {
    margin-right: -1rem;
    margin-left: -1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
