/**
 * Map
 */

.mapholder {
  min-width: 100%;
  margin-top: 1rem;
}

.map {
  min-width: 100%;
  height: 300px;
}

@media screen and (max-width: $tablet) {
  .mapholder {
    margin-left: auto;
    margin-right: auto;
  }
}
