/**
 * Social
 */

.we-social-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  box-sizing: initial;
}

.we-social-grid.post {
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.we-social {
  width: 1.5rem;
  padding: 0.8rem;
  margin: auto;
  background-image: none;
}

.we-social-grid-wrap {
  max-width: 240px;
  margin: 0 auto;
}

.we-social:hover {
  color: $color-secondary;
}

.article-social-icon {
  width: 24px;
}

@media screen and (max-width: $desktop) {
  /* Small and medium devices (tablets, $tablet and up) */
  .we-social-grid {
    margin-top: 1rem;
  }
}
