/* Buttons */

.we-btn {
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Main buttons */

/* Primary button */

.we-btn-primary {
  color: var(--color-text-inverted);
  background: var(--color-primary);
}

.we-btn-primary:hover {
  text-decoration: none;
  background: var(--color-primary-hover);
  outline: 0;
}

/* Disabled */

.we-btn-primary.disabled,
.we-btn-primary:disabled {
  color: var(--color-neutral-400);
  background-color: var(--color-neutral-300);
  border-color: transparent;
  opacity: 1;
}

/* Secondary button */

.we-btn-secondary {
  color: var(--color-primary);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--color-primary);
}

.we-btn-secondary:hover {
  color: var(--color-text-inverted);
  background: var(--color-primary);
  border: none;
}

/* Tertiary buttons */

/* Success */

.we-btn-success {
  color: var(--color-text-inverted);
  background: var(--color-success);
}

.we-btn-success:hover {
  text-decoration: none;
  background: var(--color-success-hover);
  outline: 0;
}

.we-btn-success-sec {
  color: var(--color-success);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--color-success);
}

.we-btn-success-sec:hover {
  color: var(--color-text-inverted);
  background: var(--color-success);
  border: none;
}

/* Warning */

.we-btn-warning {
  color: var(--color-text-inverted);
  background: var(--color-warning);
}

.we-btn-warning:hover {
  text-decoration: none;
  background: var(--color-warning-hover);
  outline: 0;
}

.we-btn-warning-sec {
  color: var(--color-warning);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--color-warning);
}

.we-btn-warning-sec:hover {
  color: var(--color-text-inverted);
  background: var(--color-warning);
  border: none;
}

/* Error */

.we-btn-error {
  color: var(--color-text-inverted);
  background: var(--color-error);
}

.we-btn-error:hover {
  text-decoration: none;
  background: var(--color-error-hover);
  outline: 0;
}

.we-btn-error-sec {
  color: var(--color-error);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--color-error);
}

.we-btn-error-sec:hover {
  color: var(--color-text-inverted);
  background: var(--color-error);
  border: none;
}

/* Button Size */

.we-btn-sm {
  height: 32px;
  padding: 0 1rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 32px;
  text-transform: none;
}

.we-btn-lg {
  height: 60px;
  padding: 0 1.5rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 60px;
}
